#menu-bar{
    display: none;
}
header label{
    float: right;
    margin: 2.5px 0;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
    color: #ffffff;
    transition: all 500ms;
}
.menu{
    position: absolute;
    top:50px;
    left: 0;
    width: 100%;
    height: max-content;
    transition: all 500ms;
    transform: translateX(-100%);
}
.menu a{
    display: block;
    color: rgb(255, 255, 255);
    height: 50px;
    text-decoration: none;
    border-bottom:  2px solid #5f9d07;
    text-shadow: 1px 1px 1px black;
    padding: 15px;
}
#nav h1{
    margin-top: 6px;
    transition: all 1.5s;
    text-shadow: 1px 2px 4px black, -2px -2px 1px #000000;
    color: rgb(255, 255, 255);
}
#nav h1:hover{
    color: #5f9d07;  
    text-shadow: 10px 10px 8px rgba(0,0,0,.5), 20px 20px 20px rgba(0,0,0,.4), 30px 30px 30px rgba(0, 0, 0, 0.678);
    transition: 0.5s;
}
input:checked + label {
    color: #5f9d07;
    text-shadow: 1px 1px 4px black;
    transform: rotate(-90deg);
    transition: 1s;
}
.menu a:hover{
    color: #5f9d07;
    text-shadow: 8px 8px 7px rgb(0, 0, 0), 20px 20px 20px rgba(0, 0, 0, 0.658), 30px 30px 30px rgb(0, 0, 0);

    transition: 0.5s;
}
#menu-bar:checked ~ .menu{   
    transform: translateX(0%);
    background-color: rgba(44, 40, 40, 0.863);
    height: max-content;
}
@media(min-width:280px){
    #nav h1{
        margin-top: 10px;
        font-size: 20px;
    }
    header label{
        font-size: 14px;
    }
}
@media(min-width:290px){
    #nav h1{
        margin-top: 10px;
        font-size: 24px;
    }
    header label{
        font-size: 15px;
    }
}
@media(min-width:350px){
    #nav h1{
        margin-top: 10px;
        font-size: 26px;
    }
    header label{
        font-size: 15px;
    }
}
@media(min-width:400px){
    #nav h1{
        margin-top: 8px;
        font-size: 30px;
    }
    header label{
        font-size: 20px;
    }
}
@media(min-width:810px){
    .menu{
        position: static;
        width: auto;
        height: auto;
        transform: translateX(0%);
        float: right;
        display: flex;
    }
    .menu a{
        border: none;
    }
    #nav h1{
        margin-top: 6px;
    }
    header label{
        display: none;
        color: transparent;
        transform: translateX(1000%);
    }
}