.sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
	overflow: hidden;
	/*z-index para que no genere conflictos con el bloque de arriba*/
	z-index: 0;
}
.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}
.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	display: block;
}
.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 0;
	background: url('../IMG/Messages/arr.png') no-repeat;
}
.sssprev {
	left: 3%;
	/*Posicion en Y*/
	background-position: 0 50%;
}
.sssnext {
	right: 3%;
	background-position: -26px 50%;
}
.sssprev:hover, .sssnext:hover {
	cursor: pointer;
	opacity: 0.7;
}